 .container-fluid{
    background-color: #93B7BE;
}

.jumbotron{
    text-align: center;
    color: white;
    background-color: #2D3047;
}

.searchButton{
    background-color: lightgray;
}
#submitButton{
    background-color: #A799B7;
    border: 0;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 17px;
    font-weight: 400;
}

#submitButton:hover{
    background-color: #2D3047;
}

#submitButton:active{
   opacity: 0.7;
}

#searches{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.search-item{
    float: left;
    padding: 20px;
}

.searchImage{
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#searchForm{
    width: 30%;
    float: right;
    padding: 20px;
}

#searchInput{
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
}

#gifButtons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.searchButton:hover{
    background-color: #2D3047;
}
